{% extends "layout.html" %}
{% block body %}
<h1>AURA</h1>
<h2>About</h2>
AURA is a deployment tool for Openstack, with error-recovery enhancements. 
<h2>How to use</h2>
Hit the <a class=link href='/application/'>Applications</a> page to view which applications are available and start deploying stuff!!
<h2>Contact</h2>
<p>Giannis Giannakopoulos - ggian@cslab.ece.ntua.gr </p>
<p>If you like what you see, please star our <a class=link href='https://github.com/giagiannis/aura'>github</a> page.
<h2>Acknowledgements</h2>
<p>This work was supported by the <a class=link href='http://www.tredisec.eu/'>TREDISEC</a> project.
</p>
{% endblock %}
