{% extends "layout.html" %}

{% block body %}
<table class=tablelist>
	<tr>
<th>Name</th>
<th>Description</th>
<th>Number of modules</th>
	</tr>
{% for a in apps %}
<tr>
	<td>{{ a.name }}</td>
	<td>{{ a.description }}</td>
	<td>{{ a.modules |count}}</td>
	<td><a href=/application/{{a.id}}><img src="/static/info-icon.png" alt="View" height=42 width=42/></a> </td>
	<td><a href=/application/{{a.id}}/deploy><img src="/static/deploy-process-icon.png" alt="Deploy" height=42 width=42/></a> </td>
</tr>
{% endfor %}
</table>



{% endblock %}
