{% extends "layout.html" %}

{% block body %}

<h2>Deployment Graph (STATE: <span id=generalstate></span>)</h2>
<div id='viscanvas' style='width:auto;height:500px;'></div>

<h2> Script Execution status </h2>
<table class=tablelist>
		<tr><th>Script</th><th>Status</th><th># runs</th><th>Elapsed time (sec)</th><th>Snapshot time (sec)</th><th>Logs</th></tr>
	{% for m in deployment.modules %}
	{% for s in m.scripts %}
	<tr>
		<td><a title='{{m.name}}/{{s.seq}} content' href='javascript:void(0)' onclick='show_logs("{{m.name}}/{{s.seq}}")' class='nolink'>{{ m.name }}/{{s.seq}}</a></td>
		<td><span id='{{m.name}}{{s.seq}}-status'></span></td>
		<td><span id='{{m.name}}{{s.seq}}-runs'></span></td>
		<td><span style='float:right;' id='{{m.name}}{{s.seq}}-elapsed_time'></span></td>
		<td><span style='float:right;' id='{{m.name}}{{s.seq}}-snap_time'></span></td>
		<td>
			<a class="link logs" href='/deployments/{{deployment.id}}/{{m.name}}/{{s.seq}}/stdout/'>STDOUT</a> 
			<a class="link logs" href='/deployments/{{deployment.id}}/{{m.name}}/{{s.seq}}/stderr/'>STDERR</a> 
		</td>
	</tr>
	{% endfor %}
	{% endfor %}
</table>

<h2> VM Status </h2>
<table class=tablelist>
	<tr><th>Module</th><th>IP Address</th><th>Image</th><th>Flavor</th></tr>
	{% for m in deployment.modules %}
	<tr><td>{{m.name}}</td><td><span id='{{m.name}}-address' /></td><td>{{ m.image_id }}</td><td>{{ m.flavor_id }}</td></tr>
	{% endfor %}
</table>

<h2>Deployment States Times</h2>
<table class=tablelist>
	<tr><th>Deployment State</th><th>Elapsed time (sec)</th></tr>
	<tr><td>ALLOCATING_RESOURCES</td><td><span style='float:right' id='allocating_resources_time'/></td></tr>
	<tr><td>BOOTING</td><td><span style='float:right' id='booting_time'/></td></tr>
	<tr><td>RUNNING</td><td><span style='float:right' id='running_time'/></td></tr>
</table>

<script type='text/javascript' src='/static/script.js'></script>
<script type='text/javascript'>
var nodes, edges;
var network;
createVIS();
updatePage();
setInterval(updatePage, 500);
</script>
{% endblock %}
