html {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#body {
	width: 800px;
	margin: auto;
	box-shadow: 20px 20px 20px #aaaaaa;
	background-color: #ffffff;
}

body {
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}


.tablelist {
	border-collapse: collapse;
	width: 100%;
}

.tablelist td, .tablelist th {
	border: 1px solid #ddd;
	padding: 8px;
}

.tablelist tr:nth-child(even){background-color: #f2f2f2;}

.tablelist tr:hover {background-color: #ddd;}

.tablelist th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #006bd6;
	color: white;
}

.ui-accordion-header.ui-state-active  {
	background-color: #006bd6;
}

textarea.console {
	color: white;
	background-color: black;
	font-family: monospace;
	width: 100%;
	height: 200px;
	display: block;
}

h1, h2{
	color: #006bd6;
}

.script-span {
	font-weight:bold;
	color: #333333;
}

.script-span.done {
	color: #4CAF50;
}

.script-span.waiting_for_message{
	color: #CCCC00;
}

.script-span.executing {
	color: #3333FF;
	animation: blinker 1.0s linear infinite;
}

.script-span.error {
	color: #FF3333;
	animation: blinker 0.5s linear infinite;
}

.general-status-active {
	animation: blinker 1.0s linear infinite;
}
@keyframes blinker {  
	50% { opacity: 0; }
}


.link
{
	border: solid 2px #aaa;
	border-radius: 3x;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #006bd6;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	margin: 10px 3px 10px 3px;
	padding: 3px;
	display: inline-block;
}
.link:hover { background-color: #2491ff; }

.logs {
	font-size: small;
}

.ui-dialog .ui-dialog-titlebar {
	background: #006bd6;
	color: white;
}

.nolink {
	color: #000000;
	text-decoration: none;
}
